body {
    background-image: url('https://image.freepik.com/free-vector/gradient-technology-futuristic-background_23-2149131656.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: rgba(55, 147, 255, 0.8);
    border-style: groove;
    border-color: #322fe5;
    border-width: medium;
}

form {
    top: 118px;
    font-size: large;
    background-color: rgba(55, 142, 255, 0.5);
    border-style: solid;
    border-width: thick;
    border-color: #3793ff;
    text-align: center;
}

select {
    width: 180px;
    appearance: none;
    background: lavender;
    border-style: none;
}

p {
    font-weight: bolder;
}