<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add tag</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Add tag</h1>
<form method="post">
    <div>
        <input id="python" value="python" type="checkbox" name="tag">
        <label for="python">python</label>
    </div>
    <div>
        <input id="sql" value="sql" type="checkbox" name="tag">
        <label for="sql">sql</label>
    </div>
    <div>
        <input id="css" value="css" type="checkbox" name="tag">
        <label for="css">css</label>
    </div>
    <div>
        <label for="other">other, please specify:</label>
        <input id="other" type="text" name="tag">
    </div>
    <button type="submit">Add tags</button>
</form>

</body>
</html>