<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add tag</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Add tag</h1>
<form method="post">
    <div>{% for name in all_tag_names %}
        <input id={{ name['name'] }} value={{ name['name'] }} type="checkbox" name="tag">
        <label for={{ name['name'] }}>{{ name['name'] }}</label>
        {% endfor %}
    </div>
    <div>
        <label for="other">other, please specify:</label>
        <input id="other" type="text" name="tag">
    </div>
    <button type="submit">Add tags</button>
</form>

</body>
</html>