{% extends 'base_content.html' %}
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/doNotModifyThisFile.js') }}" defer></script>
    </head>
    <body>
    {% include 'navbar.html' %}
    {% block content %}
        <h1>AskMate</h1>
        <h2>All Questions:</h2>
        <button type="button" id="theme-button" onclick="toggleTheme();">Change Theme to Dark</button>
           <script>function toggleTheme() {
        console.log("toggle theme")
        var element = document.body;
        element.classList.toggle("dark-mode");
        }
        </script>
        <link rel="stylesheet" href="/static/blackstyle.css">
        <button id="increase-font-button">Increase page font</button>
        <button id="decrease-font-button">Decrease page font</button>
        <input
                data-table-body="doNotModifyThisId_QuestionsTableBody"
                style="width: 500px" id="doNotModifyThisId_QuestionsFilter"
                type="text"
                onkeyup="getFilteredItems()"
                placeholder="filter questions by keywords">
{#        <script> function getFilteredItems({{questions}}, filterValue) {#}
{#                    console.log(items)#}
{#                    console.log(filterValue)#}
{##}
{#                    // === SAMPLE CODE ===#}
{#                    // if you have not changed the original html uncomment the code below to have an idea of the#}
{#                    // effect this function has on the table#}
{#                    //#}
{#                    for (let i=0; i<filterValue.length; i++) {#}
{#                        items.pop()#}
{#                    }#}
{##}
{#                    return items#}
{#            }#}
{#        </script>#}
        <table>
            <thead id="doNotModifyThisId_QuestionsTableHeader">
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Vote Count</td>
                    <td>View Number</td>
                </tr>
            </thead>
            <tbody id="doNotModifyThisId_QuestionsTableBody">
                {% for question in questions %}
                    <tr>
                        <td>{{ question['title'] }}</td>
                        <td>{{ question['description'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                        <td>{{ question['view_number'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{#        <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>#}
{#        <script type="text/javascript" src="{{ url_for('static', filename='js/doNotModifyThisFile.js') }}" defer></script>#}
    {% endblock %}