{% extends 'base_content.html' %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
{%  include 'navbar.html' %}
    {%  block content %}
    <h1>{% block headline %}{% endblock %}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <h2>{% block question_title %}{% endblock %}</h2>
        <p>Add new comment:<br>
            <textarea name="message" rows="20" cols="100" required>{% block comment_message %}{% endblock %}</textarea>
        </p>
        <p>
           <button type="submit" >{% block question_submit %}{% endblock %}</button>
        </p>
    </form>
</body>
{%  endblock %}