<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>{% block headline %}{% endblock %}</h1>
    <form action="" method="post">
        <p>Title:<br>
            <textarea name="title" rows="2" cols="100">{% block question_title %}{% endblock %}</textarea>
        </p>
        <p>Message:<br>
            <textarea name="message" rows="20" cols="100">{% block question_message %}{% endblock %}</textarea>
        </p>
{#        # Eszter#}
        <p>Upload an image:<br>
            <img src="https://chefmarket.hu/public/upload/product_image/9623/9623160/12334/elo1914-piros-almajpg-49999304.jpg" width="200" height="200">{% block question_image %}{% endblock %}

        </p>
        <p>
           <button type="submit" >{% block question_submit %}{% endblock %}</button>
        </p>
    </form>
</body>
</html>