<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>{% block headline %}{% endblock %}</h1>
    <form action="" method="post" enctype="multipart/form-data">

            {% block question_title %}{% endblock %}

        <p>Message:<br>
            <textarea name="message" rows="20" cols="100" required>{% block question_message %}{% endblock %}</textarea>
        </p>
        {% block image %}
        <p>Upload an image:<br>
        <input type="file" name="image">
        {% endblock %}
{#            <textarea name="image" rows="2" cols="30" src = image  width="200" height="200"> {% block question_image %}{% endblock %}</textarea>#}
        </p>
        <p>
           <button type="submit" class="Add_button">{% block question_submit %}{% endblock %}</button>
        </p>
    </form>
</body>
</html>