<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <title>Questions and answers</title>
    </head>
    <body>
        <h1>Questions</h1>
        <a href={{ url_for('new_question') }}>New question</a>


        <table border="1">
            <tr>


                    <form id="header">
                {% for item in header %}
                    <th><strong> {{ item }} </strong></th>
                {% endfor %}
                    <th><strong>Vote up</strong></th>
                    <th><strong>Vote down</strong></th>
                    </form>

            </tr>

            <form id="questions">
                {% for item in questions %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.submission_time }}</td>
                <td>{{ item.view_number}}</td>
                <td>{{ item.vote_number }}</td>
                <td>
                <a href="/question/{{ item['id'] }}">{{ item.title }} </a></td>
                <td>{{ item.message }}</td>
                <td>{{ item.image }}</td>
                <td><a href={{ url_for('vote_up', question_id=item.id) }}>Up</a> </td>
                <td><a href={{ url_for('vote_down', question_id=item.id) }}>Down</a></td>
            </tr>
            {% endfor %}
            </form>
        </table>
    </body>
</html>
