<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <title>Questions and answers</title>
        <link rel="stylesheet" href="/static/style.css">
        <script type="text/javascript" src="/static/script.js"></script>
    </head>
    <body>
        <h1>Main page</h1>
        <form action="search">
            <p id="search"><label for="search_input">Search:</label><input id="search_input" name="q"><button type="submit"><img src="../static/search.piko" width="15px"></button></p>
        </form>
        {% if 'username' not in session %}
        <a class="Add_button" href="javascript:void(0)" onclick="notLoggedInMessage()" >New question</a>
        {% else %}
        <a class="Add_button" href="{{ url_for('new_question') }}">New question</a>
        {% endif %}

        <a class="Add_button" href="{{ url_for('login') }}">Login</a>
        <p>


        </p>

        <table>
        <tr>


                    <form id="header">
                {% for item in header %}
                    <th><strong> {{ item.replace('_', ' ').capitalize() }} </strong></th>
                {% endfor %}
                    <th><strong>Vote up</strong></th>
                    <th><strong>Vote down</strong></th>
                    </form>

            </tr>

            <form id="questions">
                {% for item in questions %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.submission_time }}</td>
                <td>{{ item.view_number}}</td>
                <td>{{ item.vote_number }}</td>
                <td>
                <a href="/question/{{ item['id'] }}?view=True">{{ item.title }} </a></td>
                <td>{{ item.message }}</td>
                <td>{{ item.image }}</td>
                <td><a href={{ url_for('vote_up', question_id=item.id) }}>
                    <img src="../static/newup.png" width="20" alt="Vote Up">
                </a> </td>
                <td><a href={{ url_for('vote_down', question_id=item.id) }}>
                    <img src="../static/newdown.png" width="20" alt="Vote Down">
                </a></td>
            </tr>
            {% endfor %}
            </form>
        </table>
    <p>
    <a class="Add_button" href="list">See all questions</a>
    </p>
    </body>
</html>
