<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <strong> username:{{user.username}} </strong><br><br>
    <strong> user id:{{user.id}} </strong><br>
    <strong> email:{{user.email}} </strong><br>
    <strong> registration date:{{user.date}} </strong><br>
    <strong> asked questions:{{user.asked_questions}} </strong><br>
    <strong> number of answers:{{user.answers}} </strong><br>
    <strong> commented:{{user.comments}} </strong><br>
    <strong> reputation:{{user.reputation}} </strong><br>
</body>
</html>